* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
/* -----Header------ */

#header h2 {
  margin-top: 10px;
  font-size: 26px;
  font-weight: 700;
  color: #a5212e;
}

#header h1 {
  font-size: 48px;
  font-weight: 900;
}
#header h5 {
  font-size: 21px;
  color: #525151;
  padding-bottom: 10px;
}
/* ---------Nav-bar---------- */
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0rem;
}

.navbar {
  width: 100%;
  /* height: 40px; */
  margin: auto;
  background-color: #a70c0c;
  z-index: 99;
}
.active {
  background-color: #858585;
  height: 40px;
  line-height: 40px;
  padding-top: 0;
}
.nav-item {
  margin: 0 0.3rem;
  transition: 0.3s linear;
  height: 40px;
  padding-top: 0;
  line-height: 25px;
  margin-top: 0;
}
.nav-item:hover {
  background-color: #858585;
}

.nav-link,
.nav-link:hover {
  color: #fff;
  text-transform: uppercase;
}
/* ---------Section-1-------- */
#aside-2 {
  background-image: linear-gradient(
      rgba(115, 115, 115, 0.4),
      rgba(37, 33, 33, 0.3)
    ),
    url("../images/form_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#aside-2 p {
  line-height: 1.6rem;
  font-family: calibri light;
  font-size: 1.2rem;
  color: rgb(43, 43, 43);
  font-weight: 800;
}

#aside-2 .col-4 .h1 {
  font-size: 36px;
  background-color: #8b3030;
  display: block;
  color: #fff;
}
#aside-2 h4 {
  font-size: 1.1rem;
  text-transform: none;
  width: 50%;
}
#aside-2 span {
  font-size: 32px;
  font-weight: bold;
  color: rgb(29, 43, 120);
}
#aside-2 form {
  margin-top: 0.5rem;
  position: relative;
}
#aside-2 img {
  position: absolute;
  right: 8%;
  margin-top: 50px;
  transform: rotate(13deg);
}
#aside-2 form input {
  margin: 6px;
  flex-wrap: wrap;
}

#aside-2 .h-1 {
  font-size: 24px;
  font-style: italic;
  text-transform: capitalize;
  font-weight: 100;
  color: rgb(93, 91, 91);
  font-family: calibri light;
}
#aside-2 .btn {
  color: #fff;
  border: none;
  background-color: #bf1616;
  background-position-x: 99%;
  background-position-y: 62%;
  font-size: 20px;
  text-transform: capitalize;
  background-repeat: no-repeat;
}
#section-1 {
  margin-bottom: 20px;
}
/* -----------Section-2 ------------*/
#section-2 img {
  width: 75%;
}

/* ---------Col-1------------ */

#section-2 #col-1 span {
  font-size: 1.8rem;
  color: #8b3030;
}
#section-2 #col-1 h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  color: #545454;
}
#section-2 #col-1 h2 {
  font-size: 1.2rem;
  color: #8b3030;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}
#section-2 #col-1 p {
  color: rgb(106, 104, 104);
}
#section-2 #col-1 .btn {
  width: 8rem;
  height: 2rem;
  color: #fff;
  border: none;
  background-color: #bf1616;
  background-image: url(../images/bullet_white.gif);
  background-position-x: 92%;
  background-position-y: 61%;
  background-repeat: no-repeat;
}

/* -----Column-2-------- */

#section-2 #col-2 h1 {
  font-size: 1.5rem;
  color: #545454;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}
#section-2 #col-2 span {
  color: #8b3030;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}
#section-2 #col-2 .btn {
  width: 8rem;
  height: 2rem;
  color: #fff;
  border: none;
  background-color: #bf1616;
  background-image: url(../images/bullet_white.gif);
  background-position-x: 92%;
  background-position-y: 61%;
  background-repeat: no-repeat;
}

#section-2 #col-2 p {
  color: rgb(106, 104, 104);
}
#section-2 #col-2 .col-5 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 150px;
  text-align: center;
}
#section-2 #col-2 .col-7 {
  height: 150px;
}
/* -----column-3----- */
#section-2 #col-3 h1 {
  font-size: 1.5rem;
  color: #545454;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}
#section-2 #col-3 span {
  color: #8b3030;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}
#section-2 #col-3 .btn {
  width: 8rem;
  height: 2rem;
  color: #fff;
  border: none;
  background-color: #bf1616;
  background-image: url(../images/bullet_white.gif);
  background-position-x: 92%;
  background-position-y: 61%;
  background-repeat: no-repeat;
}

#section-2 #col-3 p {
  color: rgb(106, 104, 104);
}

/* -------Section-3 -------*/
/* ------Column-1-------- */
#section-3 #col-1 .child-div {
  width: 17rem;
  height: 4rem;
  position: relative;
  background-color: gray;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 93%;
  color: #fff;
  margin-top: 1.5rem;
  border-left: 10px solid #bf1616;
  padding: 0.2rem 0.8rem;
}
#section-3 #col-1 .child-div h2 {
  text-transform: uppercase;
  font-size: 20px;
}
#section-3 #col-1 .child-div button {
  position: absolute;
  border: none;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  right: 10%;
  margin-top: 0.6rem;
}
#section-3 #col-1 .child-div button i {
  color: #8b3030;
  font-size: 0.9rem;
}
#section-3 #col-1 h1 {
  font-size: 1.5em;
}
#section-3 #col-1 .h-1 {
  text-align: center;
  color: #c4c4c4;
  line-height: 38px;
}

/* ------ column-2 ------*/
#section-3 #col-2 p {
  line-height: 1.4rem;
  color: gray;
}
#section-3 #col-2 h1 {
  font-size: 35px;
  color: #525151;
}
/* -----col-3------------ */
#section-3 #col-3 h1 {
  font-size: 1.5rem;
  color: #545454;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}
#section-3 #col-3 span {
  color: #8b3030;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}
#section-3 #col-3 p {
  color: rgb(106, 104, 104);
}

h4 {
  text-transform: uppercase;
  color: rgb(106, 104, 104);
}

#section-3 #col-3 .btn {
  width: 8rem;
  height: 2rem;
  color: #fff;
  border: none;
  background-color: #bf1616;
  background-image: url(../images/bullet_white.gif);
  background-position-x: 92%;
  background-position-y: 61%;
  background-repeat: no-repeat;
}
#section-3 #col-3 ul li {
  list-style: none;
  display: inline-block;
  margin: 0rem 0.3rem;
}
